.view-map {
    height: calc(100vh - calc(100vh - 100%));
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    .loading-element {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .map-element {
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
.search-bar {
    height: fit-content;
    width: fit-content;
    right: 3rem;
    position: absolute;
    margin-left: auto;
    margin-right: 10%;
    left: 0;
    right: 0;
    top: 1.5rem;
    text-align: center;
    input {
        width: 16rem;
        height: 3rem;
        color: #ffd369;
        background-image: linear-gradient(to right, #222831, #393e46);
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border-radius: 0.6rem;
        opacity: 0.9;
        outline: none;
        &::placeholder {
            color: #ffd369;
        }
    }
}

ul[role='listbox'] {
    background-image: linear-gradient(to right, #222831, #393e46);
    border-radius: 0.4rem;
    outline: none;
}
