.info-window-inner {
    z-index: 5;
    position: relative;
    max-height: 25rem;
    max-width: 50rem;
    color: #222831;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    .if-overflow {
        p {
            width: 100%;
        }
        .if-image-container {
            width: 100%;
            img {
                width: 90%;
                max-height: 100rem;
                object-fit: cover;
            }
        }
        .if-music-container {
            display: flex;
            justify-content: center;
        }
    }
}
