.h-page {
    .gm-style-iw-d {
        width: 220px;
        .ifv-map-container {
            height: 60vh;
            width: 210px;
            padding-left: 5%;
            margin-right: 5%;
            .prev-map-header-container {
                h1 {
                    font-size: 1.1rem;
                    margin-bottom: 0.2rem;
                }
                p {
                    font-size: 1rem;
                    margin-bottom: 0.25rem;
                }
            }
        }
    }
}
