@import '../../mixins.scss';
.user-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include yellowBlueGradi();
    #user-email-header {
        color: #141e30;
        @include yellow-border-and-font();
        width: 100%;
        text-align: center;
        @include royalGradi;
    }
    .prev-map-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
        width: 100%;
        @include royalGradi();
        @include yellow-border-and-font();
        i {
            font-size: 3rem;
        }
        .like-btn {
            top: 0.2rem;
            i {
                font-size: 1rem;
            }
        }
        .map-ui-btn {
            top: 0.2rem;
            i {
                font-size: 1rem;
            }
        }
    }
    @mixin user-options {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75%;
        width: 45%;
        padding: 0.5rem;
        border-radius: 0.3rem;
        text-align: center;
        cursor: pointer;
        @include yellow-border-and-font();
    }
    .user-route-show-opt {
        margin-top: 1rem;
        height: 7vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @include royalGradi();
        @include yellow-border-and-font();
        h1 {
            font-size: 1.5rem;
        }
        .user-toggle-created {
            @include user-options();
        }
        .user-toggle-likes {
            @include user-options();
        }
    }
    .user-routes-preview-container {
        margin-top: 1rem;
        height: 10vh;
        width: 100%;
        @include yellow-border-and-font();
        @include royalGradi();
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
