@import '../../mixins.scss';
.user-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .prev-map-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40vh;
        width: 100%;
        @include yellow-border-and-font();
        i {
            font-size: 3rem;
        }
    }
    .user-routes-preview-container {
        margin-top: 17rem;
        height: 17vh;
        width: 100%;
        @include yellow-border-and-font();
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
