@mixin map-ui-buttons {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.25rem;
    img {
        border-radius: 50%;
        height: 70%;
        width: 70%;
    }
    &:hover {
        cursor: pointer;
    }
}

.view-map {
    height: calc(100vh - calc(100vh - 100%));
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    .loading-element {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .map-element {
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

.map-ui {
    background-image: linear-gradient(to right, #222831, #393e46);
    border-radius: 0.4rem;
    height: 7.5rem;
    width: 100%;
    position: absolute;
    bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    opacity: 0.7;

    .map-ui-lock {
        @include map-ui-buttons();
    }

    .map-ui-find {
        @include map-ui-buttons();
    }
}
