@import '../../mixins.scss';

// prev-map header + active prev + customMap height prop in PreviewMap.tsx should be === to prev-map-container height
.prev-map-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .prev-map-header-container {
        height: 7vh;
        width: 100%;
        @include royalGradi();
        text-align: center;
        padding: 0.4rem;
        h1 {
            font-size: 1.1rem;
            margin-bottom: 0.2rem;
        }
        p {
            cursor: pointer;
            font-size: 1rem;
        }
    }
    .marker-preview {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include royalGradi();
        .node-prev-empty {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            text-align: center;
            .emp-text {
                font-size: 1.8rem;
            }
            i {
                padding-top: 0.5rem;
                font-size: 3rem;
            }
        }
        .active-preview {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 13vh;
            padding-top: 0.5rem;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            text-align: center;
            h1 {
                margin-bottom: 2rem;
            }
            .marker-prev-img {
                max-height: 20rem;
                object-fit: cover;
                padding-bottom: 1rem;
            }
        }
    }
}
