@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body,
#root,
#transition-group {
    height: 100%;
    overflow: hidden;
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace, sans-serif;
    color: #ffd369;
    background-color: #222831;
    //background-color: white;
    perspective: 1000;
    backface-visibility: hidden;

    input {
        font-size: 1.8rem;
    }
    textarea {
        font-size: 1.8rem;
    }
}
// transition classes/anims

// sliding left to go to right page
.slide-left-enter {
    animation: slideIn-left;
    animation-duration: 1.5s;
    position: absolute;
}

.slide-left-exit {
    animation: slideOut-left;
    animation-duration: 1.5s;
    position: absolute;
}

@keyframes slideOut-left {
    0% {
    }
    25% {
        opacity: 0.5;
        transform: translateZ(-500rem);
    }
    75% {
        opacity: 0.5;
        transform: translateZ(-500rem) translateX(200%);
    }
    100% {
        opacity: 0.5;
        transform: translateZ(-500rem) translateX(200%);
    }
}

@keyframes slideIn-left {
    0%,
    25% {
        opacity: 0.5;
        transform: translateZ(-500px) translateX(-200%);
    }
    75% {
        opacity: 0.5;
        transform: translateZ(-500px);
    }
    100% {
        opacity: 1;
        transform: translateZ(0) translateX(0);
    }
}
// right
.slide-right-enter {
    animation: slideIn-right;
    animation-duration: 1.5s;
    position: absolute;
}

.slide-right-exit {
    animation: slideOut-right;
    animation-duration: 1.5s;
    position: absolute;
}

@keyframes slideOut-right {
    0% {
    }
    25% {
        opacity: 0.5;
        transform: translateZ(-500rem);
    }
    75% {
        opacity: 0.5;
        transform: translateZ(-500rem) translateX(-200%);
    }
    100% {
        opacity: 0.5;
        transform: translateZ(-500rem) translateX(-200%);
    }
}

@keyframes slideIn-right {
    0%,
    25% {
        opacity: 0.5;
        transform: translateZ(-500px) translateX(200%);
    }
    75% {
        opacity: 0.5;
        transform: translateZ(-500px);
    }
    100% {
        opacity: 1;
        transform: translateZ(0) translateX(0);
    }
}

@media only screen and (min-width: 600px) {
    #root {
        .map-form {
            height: 38vh;
            .mf-empty-pc {
                height: 29vh;
            }
        }
        .map-form-music {
            height: 60vh;
        }
        .mf-active-music-mode {
            height: 50vh;
        }
        .mf-active-img-mode {
            height: 29vh;
        }

        padding: 0 8% 0 8%;
        .map-ui {
            width: 84%;
        }
        .map-form {
            width: 84%;
        }

        .map-form-colap {
            width: 28%;
            height: 10rem;
            p {
                font-size: 1.4rem;
            }
        }
        .map-form-colap-middle {
            left: 36%;
            width: 28%;
            height: 10rem;
            p {
                font-size: 1.4rem;
            }
        }
        .map-form-colap-right {
            width: 28%;
            left: 64%;
            height: 10rem;
            p {
                font-size: 1.4rem;
            }
        }

        .spotify-emb-container {
            .is-song {
                height: 150rem;
            }
        }

        .search-bar {
            margin-right: auto;
            margin-left: 9%;
            top: 10rem;
            input {
                width: 40rem;
                height: 3.5rem;
            }
        }
    }
}
