@mixin nicerOverFlow {
    overflow: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 1em;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        height: 1rem;
    }
}

@mixin removeWeirdChromAutofill {
    input:-webkit-autofill {
        background-clip: text;
        -webkit-text-fill-color: #ffd369;
    }
}

@mixin justifyAlignTextCenter {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin yellow-border-and-font {
    border: 1px solid #ffd369;
    border-radius: 0.3rem;
    color: #ffd369;
}

@mixin centerAbs {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@mixin menuBlackGradient {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-image: linear-gradient(to right, #222831, #393e46);
}
//#2193b0 → #6dd5ed
@mixin yellowBlueGradi {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-image: linear-gradient(to right, #ffd89b, #19547b);
}
@mixin royalGradi {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-image: linear-gradient(to right, #141e30, #243b55);
}

@mixin seaBluGradi {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-image: linear-gradient(to right, #2b5876, #4e4376);
}
