@mixin nicerOverFlow {
    overflow: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 1em;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        height: 1rem;
    }
}

@mixin removeWeirdChromAutofill {
    input:-webkit-autofill {
        background-clip: text;
        -webkit-text-fill-color: #ffd369;
    }
}

@mixin justifyAlignTextCenter {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin yellow-border-and-font {
    border: 1px solid #ffd369;
    border-radius: 0.3rem;
    color: #ffd369;
}
