.toggle-d-btn {
    height: 7.2rem;
    width: 7.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #222831;
    background-color: #ffd369;
    border-radius: 50%;
    padding-bottom: 0.5rem;
    transition: 1.2s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    opacity: 0.9;
    p {
        font-size: 1rem;
        font-weight: 800;
    }
    i {
        font-size: 2rem;
    }

    &:hover {
        background-color: #393e46;
        color: #ffd369;
        cursor: pointer;
    }
}
